/* button-1 */
.perfectbutton1 {
  background: #4958FF;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  transition: .2s ease-in-out 
}
.perfectbutton1:hover {
  background: #3B48D1
}
/* button-2 */
.perfectbutton2 {
  background: white;
  color: black;
  border-radius: 100px;
  padding: 20px;
  transition: .1s ease-in-out;
}
.perfectbutton2:active {
  border: dashed 1.2px black;
  transform: scale(.97)
}
.perfectbutton3 {
  background: #DA5111;
  color: white;
  border-radius: 15px;
  padding: 15px 25px;
  border-bottom: solid #A13B0A 5px;
  transition: .1s ease-in-out
}
.perfectbutton3:active {
  transform: translateY(1px);
  border-bottom: solid #A13B0A 1px
}