:root {
  --logo-font: "Bitcount Grid Double";
  --ham-color: #454545;
  --hamhov-color: #EF3C00;
  --base-font: "Inter";
}
body {
  font-family: var(--base-font) !important;
  font-style: normal;
}
.logo-container {
  font-family: var(--logo-font);
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo {
  font-size: 2rem;
}
.logo-nav {
  width: 11%;
}
.logo-nav img {
  border-radius: 13px;
  box-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.2),
    5px 5px 5px rgba(0, 0, 0, 0.1),
    6px 6px 10px rgba(0, 0, 0, 0.05);
}
.dropdown-button {
  border: none;
  outline: none;
  background: none;
}
.dropdown-button span {
  display: block;
  margin: 5px 0;
  height: 1.9px;
  border-radius: 100px;
  transition: .1s;
}
.dropdown-button[aria-expanded="true"] span {
  transition: .3s ease-in-out;
}
.dropdown-button span:nth-child(1){
  width: 30px;
  background: var(--ham-color);
}
.dropdown-button span:nth-child(2) {
  width: 30px;
  background: var(--ham-color);
}
.dropdown-button span:nth-child(3) {
  width: 30px;
  background: var(--ham-color);
}
.dropdown-button[aria-expanded="true"] span:nth-child(1){
  width: 25px;
  background: var(--hamhov-color);
  transform: rotate(45deg) translateX(-1px) translateY(5px);
}
.dropdown-button[aria-expanded="true"] span:nth-child(2) {
  background: var(--hamhov-color);
  display: none;
}
.dropdown-button[aria-expanded="true"] span:nth-child(3) {
  width: 25px;
  background: var(--hamhov-color);
  transform: rotate(-45deg) translateX(-1px) translateY(-5px);
}
.dropdown-item a,.dropdown-item a:hover, .dropdown-item a:active {
  text-decoration: none !important;
  color: #454545;
  background: none !important;
}
.dropdown-menu .dropdown-item {
  padding: 3px 8px;
  transition: .1s ease-in-out;
}
.dropdown-menu .dropdown-item:hover {
  background: #E0E0E0;
  border-radius: 10px;
}
.dropdown-menu {
  padding: 10px !important;
  border: solid #EAEAEA 1.5px !important;
  transition: .3s ease-in-out;
  border-radius: 16px !important;
  background: #F9F9F9 !important;
  box-shadow: #FFFFFF 0px 2px 1px 0px inset, rgba(0, 0, 0, 0.09) 0px 1px 2px, rgba(0, 0, 0, 0.09) 0px 2px 4px, rgba(0, 0, 0, 0.09) 0px 4px 8px
}
.dropdown-item span {
  background: #FFE5DC;
  color: #FF4000;
  border-radius: 3px;
  padding: 1px 3px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin-left: 5px
}
li.dropdown-item {
  display: flex;
  align-items: center;
  width: 100%;
}
.dropdown-item a {
  display: block;
  font-weight: 500 !important;
  letter-spacing: -.5px !important;
  font-size: 16px;
  color: #636363;
}
.heading-section {
  /* */
}
.heading-section .text-mini {
  font-size: 14px;
  color: #9B9B9B;
  letter-spacing: -.5px;
  font-weight: 500
}
.heading-section .text-mini span {
  color: #565656;
}
.heading-section .large-text {
  font-size: 30px;
  font-weight: 600;
  color: #3A3A3A;
  line-height: 30px;
  margin: 13px 0;
}
hr {
  border-top: 4px dotted #939393 !important
}
.content-buttons {
  background: #ECECEC;
  border-radius: 20px;
  padding: 15px;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -.5px;
  font-size: 14px;
  font-weight: 500
}

@media(min-width: 786px) {
  .my-nav {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    border-radius: 100px;
    box-shadow: 
    0 -1px 2px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    margin-bottom: 20px
  }
  .logo-nav img {
    width: 40px;
    border-radius: 8px;
    box-shadow:
    0 0px 1px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 5px 8px rgba(0, 0, 0, 0.1)
  }
  .heading-section {
    text-align: center;
  }
  .text-mini {
    padding: 0 350px
  }
  .lg-hr,.content {
    width: 700px !important;
    margin: 0 auto;
  }
}